
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: grey;
  --secondary: black;
  --depth: 40px;
}


@font-face {
  font-family: "Hagel-Mono";
  src: url("fonts/Hagel-Mono.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist-Black";
  src: url("fonts/Geist-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist-Mono-Light";
  src: url("fonts/GeistMono-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}