
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: rgb(133, 133, 133);
  --secondary: black;
  --depth: 3rem;
  --top-angle: -60deg;
  --side-angle: -30deg;
  --side-depth-multiplier: 1.7;
  --highlight-color: rgb(0, 255, 55);
}


@font-face {
  font-family: "Hagel-Mono";
  src: url("fonts/Hagel-Mono.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("fonts/Geist-Regular.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist-Mono-Light";
  src: url("fonts/GeistMono-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}